@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Remove default Mapbox Popup padding/tip */
.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 1rem !important;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.15) !important;
}
.mapboxgl-popup-tip {
  display: none !important;
}
